@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row text-center">
        <div class="col-lg-6">
            <h1 class="display-4 fw-bolder pt-5 mb-4">Student Database Management System</h1>
            <p class="fs-5 lh-base fw-semibold">Providing efficient management of student and course information.</p>
            <div class="pt-3">
                <button type="button" class=" lead btn py-2 shadow-sm">Admin Login</button>
            </div>
            <div class="row mt-5 ">

                <div class="col-md-4 mb-4 ">
                    <div class="card text-center shadow">
                        <div class="card-body">
                            <h5 class="card-title">500</h5>
                            <p class="card-text">Students</p>
                            <button type="button" class="btn">More Details</button>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4 ">
                    <div class="card text-center shadow">
                        <div class="card-body ">
                            <h5 class="card-title">25</h5>
                            <p class="card-text">Lecturers</p>
                            <button type="button" class="btn">More Details</button>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card text-center shadow">
                        <div class="card-body">
                            <h5 class="card-title">18</h5>
                            <p class="card-text">Courses</p>
                            <button type="button" class="btn">More Details</button>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-6 text-end ps-5 img-fluid d-none d-lg-block ps-4">
            <img src="/lib/main.png" alt="main" class=" w-100" />
        </div>
    </div>


</div>