@page
@model StudentManager.Pages.StudentInfoModel
@{
}


<h1 class="mt-5">New Students Overview</h1>

<div class="mt-5 mb-4">
    <table class="table table-striped text-center bg-light">
        <thead>
            <tr>
                <th>
                    Student Id
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    City
                </th>
                <th>
                    Course Name
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    1
                </td>
                <td>
                    Kasun Gamage
                </td>
                <td>
                    Kandy
                </td>
                <td>
                    Graphic Design
                </td>
            </tr>

            <tr>
                <td>
                    2
                </td>
                <td>
                    Daniel Sam
                </td>
                <td>
                    Jaffna
                </td>
                <td>
                    Mobile App Development
                </td>
            </tr>

            <tr>
                <td>
                    3
                </td>
                <td>
                    Hansi Silva
                </td>
                <td>
                    Colombo
                </td>
                <td>
                    Web Development
                </td>
            </tr>

            <tr>
                <td>
                    4
                </td>
                <td>
                    Ranidu Heath
                </td>
                <td>
                    Matara
                </td>
                <td>
                    Mobile App Development
                </td>
            </tr>

            <tr>
                <td>
                    5
                </td>
                <td>
                    Praneeth Wigesinghe
                </td>
                <td>
                    Kandy
                </td>
                <td>
                    Java
                </td>
            </tr>

            <tr>
                <td>
                    6
                </td>
                <td>
                    Nuwani Heath
                </td>
                <td>
                    Rathnapura
                </td>
                <td>
                    Web Development
                </td>
            </tr>

        </tbody>
    </table>
</div>

<button type="button" class="btn py-2">View all students</button>
